# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-selfcheck.json
pip-delete-this-directory.txt

# Virtualenv
/bin/
/include/
/lib/

# OS X
.DS_Store

# Gazelle
data/mongodb/
